<header class="navbar sticky-top navbar-light bg-light" role="navigation">
  <a class="navbar-brand" href="/">Surf</a>
  <% if (isAuthenticated) { %>
    <form class="form-inline" action="/logout" method="post">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
    </form>
  <% } else{ %>
    <form class="form-inline" action="/login" method="post">
      <input id="username" class="form-control mr-sm-2" name="username"
        type="text" placeholder="Username" aria-label="Username" required>
      <input id="password" class="form-control mr-sm-2"  name="password"
        type="password" placeholder="Password" aria-label="Password" required>
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" name="login">
        Login
      </button>
    </form>
  <% } %>
</header>