<div class="card">
  <div class="card-header">
    Yo, <%= displayname %>, what's up?
  </div>
  <div class="card-body">
    <form action="/posts" method="post">
      <div class="form-group">
        <textarea class="form-control" id="postText" name="postText" rows="3"
          style="overflow:auto;resize:none" require></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Yolo!</button>
    </form>
  </div>
</div>

<% posts.reverse().forEach((post) => { %>
  <div class="card mt-3 md-3">
    <div class="card-header">
      <div class="float-left">
        <%= post.author.displayName %>
      </div>
      <div class="float-right">
        <%= post.date.toLocaleString("en-US") %>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text"><%= post.postText %></p>
    </div>
  </div>
<% }); %>